{{!
    Ganesha columns2 Mustache Template.
}}
{{> theme_boost/head }}

<body {{{ bodyattributes }}}>

{{{ output.standard_top_of_body_html }}}

<div id="page-wrapper">
    <nav class="navbar navbar-expand fixed-top">
        <div class="container-fluid">
            <a href="{{{ config.wwwroot }}}" class="navbar-brand">
                <span>Ganesha!</span>
            </a>
            <div class="ml-auto">
                {{{ output.user_menu }}}
            </div>
        </div>
    </nav>

    <div class="container-fluid" style="margin-top: 100px; padding-bottom: 50px;">
        <div class="row">
            <div class="col-md-9">
                <div class="cartoon-card p-4" style="background-color: #ffffff;">
                    {{{ output.main_content }}}
                </div>
            </div>
            <div class="col-md-3">
                <div class="cartoon-card p-3" style="background-color: #fffdf9;">
                    {{{ output.blocks_side_pre }}}
                </div>
            </div>
        </div>
    </div>
</div>

{{{ output.standard_end_of_body_html }}}

</body>
</html>
